* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;

  width: 100%;
  max-width: 143.956rem;
}

img {
  max-width: 100%;
}

:root {
  --body-background: hsl(0, 0%, 5%);
  --color-logo: hsl(4, 100%, 66%);
  --card-color: hsl(0, 0%, 15%);
  --text-color: #ffffff;
  --subtitle-color: hsl(0, 2%, 35%);
  --black-text: #000000;
  --color-input: hsl(0, 0%, 5%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  max-width: 100vw;
}
/*=======================MENU NAVIGATION===================*/
#menuNavigation {
  display: grid;
  box-sizing: border-box;

  max-height: 100rem;
}

#menuNavigation .background {
  position: absolute;
  max-width: 143.956rem;
  height: 100rem;
  z-index: -1;
  background-repeat: no-repeat;
}

#menuNavigation nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 5.7rem 8rem 0 8rem;
}

#menuNavigation .menu {
  padding: 0 23.8rem 0 20.3rem;
}

#menuNavigation .menu ul {
  display: flex;
  gap: 6rem;
}

#menuNavigation .menu ul li {
  justify-content: center;
  align-items: center;
  list-style: none;
}

#menuNavigation .menu ul li a {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  white-space: nowrap;

  color: var(--text-color);
  text-decoration: none;
}

#menuNavigation .clickCart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--text-color);
}
#menuNavigation .clickCart a:nth-child(1) {
  padding: 1rem 1.5rem 1rem 1.4rem;
}

#menuNavigation .clickCart a img {
  width: 3rem;
  height: 3rem;
}

#menuNavigation .clickCart button {
  list-style: none;
  text-decoration: none;
  border: none;

  background: var(--text-color);
}

#menuNavigation .clickCart button a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;

  white-space: nowrap;

  color: var(--black-text);
}

#menuNavigation header {
  display: grid;
  grid-template-columns: 31% 1fr 15%;

  padding: 9rem 8rem 0 8rem;

  box-sizing: border-box;

  gap: 4rem;
}

#menuNavigation header div:nth-child(1) p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  padding-bottom: 5.5rem;

  color: var(--text-color);
}

#menuNavigation header div:nth-child(1) aside {
  display: flex;
}

#menuNavigation header div:nth-child(1) aside img {
  width: 16.9rem;
  height: 8.7rem;
}

#menuNavigation header div:nth-child(1) aside div::before {
  content: '';
  display: inline-block;
  width: 20rem;
  height: 3.4rem;
}

#menuNavigation header div:nth-child(1) aside div {
  padding-left: 0.6rem;
}

#menuNavigation header div:nth-child(1) aside div h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: var(--text-color);
}

#menuNavigation header div:nth-child(1) aside div p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: var(--text-color);

  white-space: nowrap;
}

#menuNavigation header div:nth-child(2) h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;

  color: var(--text-color);
}

#menuNavigation header div:nth-child(2) h1 Strong {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;

  color: var(--color-logo);
}

#menuNavigation header div:nth-child(3) img {
  width: 20rem;
  height: 20rem;
}

#menuNavigation .headerImgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.616rem;
  row-gap: 6.044rem;

  padding: 10rem 8rem 0 8rem;
}

#menuNavigation .headerImgs img {
  border: 1px solid var(--text-color);
}
/*===============================ABOUT=============================*/
#about {
  background: var(--color-input);
  display: grid;
  grid-template-columns: 20% 1fr;

  height: 62.37rem;
}

#about .quantityAbout {
  padding: 13.3rem 6.7rem 0 8.7rem;
  border-right: 1px solid var(--subtitle-color);

  height: 62.37rem;
}
#about .quantityAbout ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 7rem;

  padding-bottom: 13.316rem;
}

#about .quantityAbout h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.1rem;

  color: var(--text-color);
}

#about .quantityAbout p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;

  color: var(--subtitle-color);
}

#about .informationsAbout {
  display: grid;
  grid-template-rows: 40% 1fr;
}

#about .informationsAbout .textInformationsAbout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 7.6rem 13.8rem 7.1rem 6.8rem;
  gap: 12.6rem;
}

#about .informationsAbout .textInformationsAbout div:nth-child(1),
#about .informationsAbout .textInformationsAbout div:nth-child(2) {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 6.3rem;

  padding-top: 7.9rem;
}

#about .informationsAbout .textInformationsAbout p:nth-child(1),
#about .informationsAbout .textInformationsAbout p:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: var(--text-color);
}

#about .informationsAbout .textInformationsAbout .linkFromAbout {
  text-decoration: underline;
  color: var(--color-logo);
}

#about .informationsAbout .imgAbout {
  width: 115.8rem;
  height: 30rem;
}

#about .informationsAbout .imgAbout img {
  width: 115.2rem;
  height: 30rem;

  padding: 7.1rem 0 0 0;
}
/*==============WEEK ARTISTS==============*/

#weekArtists {
  border-top: 1px solid var(--subtitle-color);
  background: var(--color-input);
  padding: 15rem 8rem 0 8rem;
}

#weekArtists .astronalts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 51.01rem;
}

#weekArtists div div a img {
  width: 5rem;
  height: 5rem;
}

#weekArtists .titleSections h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;

  color: var(--text-color);
}

#weekArtists .astronalts {
  display: flex;
  justify-content: space-between;
  padding-top: 15rem;
}

#weekArtists .astronalts h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;

  padding-bottom: 4.4rem;

  color: var(--text-color);
}

#weekArtists .astronalts p:nth-child(1) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;

  color: var(--subtitle-color);
}

#weekArtists .astronalts p:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;

  color: var(--color-logo);
}

#weekArtists .astronalts .astronaltsNames {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weekArtists .astronalts img {
  padding-top: 3rem;
}

#weekArtists .astronalts .astronalt1,
#weekArtists .astronalts .astronalt2 {
  padding-bottom: 5rem;
}

#weekArtists .titleSections h2 strong {
  color: var(--color-logo);
}
/*==============BEST ARTIRTS==============*/
#bestArtists {
  background: var(--color-input);
  padding: 15rem 8rem 14.766rem 8rem;
}

#bestArtists .titleSections {
  padding-bottom: 12rem;
  padding-left: calc(45.6rem - 8.5rem);
}

#bestArtists .titleSections h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: var(--text-color);
}

#bestArtists .cardsArtists ul {
  list-style: none;
  text-decoration: none;
}

#bestArtists .cardsArtists div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bestArtists .cardsArtists ul div li .imgCards img {
  padding: 2.5rem 4rem 2.5rem 3.2rem;
}

#bestArtists .cardsArtists .cards1-3 .bestArtistsName,
#bestArtists .cardsArtists .cards4-6 .bestArtistsName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: var(--text-color);
}

#bestArtists .cardsArtists .bestArtistsPictures {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;

  color: var(--color-logo);
}

#bestArtists .cardsArtists .cards4-6 {
  padding-top: 11.1rem;
}

#bestArtists .cardsArtists .card1,
#bestArtists .cardsArtists .card2,
#bestArtists .cardsArtists .card3,
#bestArtists .cardsArtists .card4,
#bestArtists .cardsArtists .card5,
#bestArtists .cardsArtists .card6 {
  background: var(--card-color);
  width: 35rem;
  height: 15rem;
}

#bestArtists .cardsArtists .separateP {
  display: block;
}

#bestArtists .cardsArtists li {
  padding: 2.5rem 1.7rem 2.5rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bestArtists .seeAllArtists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  padding: 5.4rem 0 0 0;
}
#bestArtists .seeAllArtists p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;

  color: var(--text-color);
}

#bestArtists .cardsArtists li:hover {
  background: var(--color-logo);
  color: var(--text-color);
}

#bestArtists .cardsArtists p:hover {
  color: var(--text-color);
}

#bestArtists .titleSections h2 strong {
  color: var(--color-logo);
}

#bestArtists .seeAllArtists {
  display: grid;
}

#bestArtists .seeAllArtists a {
  display: flex;
  gap: 1.3rem;

  align-items: center;
}

#bestArtists .seeAllArtists a img {
  width: 3rem;
  height: 3rem;
}
/*===================================FOOTER============================================*/

#footer {
  background: var(--card-color);
  padding: 8.2rem 8rem 6.1rem 8rem;
}

#footer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 6rem 0;
}

#footer header .logo {
  width: 27.6rem;
  height: 4.3rem;
}

#footer header a:nth-child(2) {
  width: 8rem;
  height: 8rem;
  background: var(--color-logo);
}

#footer header a:nth-child(2) img {
  padding: 2.8rem;
  transform: rotate(-1.28deg);
}

#footer .informationsFooter {
  display: flex;

  border-top: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
}

#footer .informationsFooter .buttonSendFooter div {
  display: flex;
}

#footer .informationsFooter .buttonSendFooter {
  padding-right: 6.2rem;
  border-right: 1px solid var(--subtitle-color);
}

#footer .informationsFooter .buttonSendFooter h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.3;

  padding-top: 6.7rem;
  color: var(--text-color);
}

#footer .informationsFooter .buttonSendFooter input {
  background: var(--color-input);

  width: 28rem;
  height: 6.6rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;

  padding: 2rem;

  color: var(--subtitle-color);

  border: none;
}

#footer .informationsFooter .buttonSendFooter div a button {
  cursor: pointer;
}
#footer .informationsFooter .buttonSendFooter {
  padding-bottom: 8.2rem;
}

#footer .informationsFooter .buttonSendFooter button {
  background: var(--text-color);

  width: 12.2rem;
  height: 6.6rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;

  padding: 2rem;

  color: var(--black-text);

  border: none;
}

#footer .informationsFooter .referencesFooter {
  display: flex;
  justify-content: space-between;
  padding: 7.4rem 19rem 5.3rem 12.2rem;
}

#footer .informationsFooter .referencesFooter h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;

  padding-bottom: 0.7rem;

  color: var(--text-color);
}

#footer .informationsFooter .referencesFooter li {
  padding-bottom: 1.5rem;
}

#footer .informationsFooter .referencesFooter a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;

  color: var(--subtitle-color);
}

#footer .referencesFooter .ReferencesSeparator {
  padding-inline: 12.8rem;
}

#footer .socialFooter {
  padding: 6.9rem 8rem 0;
  display: flex;
  justify-content: space-between;
}

#footer .socialFooter a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: var(--subtitle-color);
}

#footer .socialFooter ul {
  display: flex;
  gap: 5rem;

  width: 27rem;
  height: 3rem;
}

#footer .socialFooter img {
  width: 3rem;
  height: 3rem;
}

#footer .informationsFooter .buttonSendFooter h3 strong {
  color: var(--color-logo);
}

/*==============================JAVA SCRIPT=====================*/
#bestArtists .cardsArtists ul div .active {
  color: var(--text-color);
}
